h2 {
    margin: auto;
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: center;
    background-color: blue;
    height: 70px;
    width: 300px;
    padding-top: 25px;
    border-radius: 8px 8px;
}